.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 2rem;
    background-color: #fff;
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &:focus {
      background-color: #eee;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
