.item {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 200px;
  height: 200px;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      display: block;
      font-size: 9rem;
    }
  }

  &__name {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;

    i {
      font-size: 1.5rem;
      opacity: 0;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    .item__control {
      i {
        opacity: 0.5;
      }
    }
  }
}
