.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__upload {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    border: 1px solid #696969;
    border-radius: 3px;
    padding: 1rem;
  }

  &__label {
    padding: 0;
  }

  &__input {
    padding: 0;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      margin-right: 1rem;
    }
  }

  &__views {
    display: flex;
    align-items: center;

    span {
      margin-right: 1rem;
    }
  }

  &__icons {
    i {
      margin: 0.3rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
