.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__search {
    display: none;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  &__button {
    margin: 0.5rem;
  }

  &__upload {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid #696969;
    border-radius: 3px;
    padding: 1rem;
    max-width: 300px;
  }

  &__label {
    padding: 0;
    width: 100%;
  }

  &__input {
    padding: 0;
    width: 100%;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
  }

  &__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;

    span {
      margin-right: 1rem;
    }
  }

  &__views {
    display: flex;
    align-items: center;
    margin: 0.5rem;

    span {
      margin-right: 1rem;
    }
  }

  &__icon {
    margin: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 425px) {
  .panel {
    &__search {
      display: flex;
    }
  }
}
