@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.file {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 200px;
  height: 200px;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      display: block;
      font-size: 9rem;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;

    i {
      margin: 0.5rem;
      font-size: 1.5rem;
      opacity: 0;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__name {
    font-size: 1.5rem;
  }

  &-enter-active {
    animation: file-enter 500ms forwards;
  }

  &:hover {
    .item__block {
      i {
        opacity: 0.5;
      }
    }
  }
}
