.file {
  &_list {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    border-bottom: 1px solid #696969;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__image_list {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    grid-column-start: 1;
    min-width: 80px;
    font-size: 3rem;

    i {
      margin: 1rem;
    }
  }

  &__name_list {
    display: flex;
    align-items: center;
    grid-column-start: 2;
    height: 100%;
  }

  &__icons_list {
    display: grid;
    grid-column-start: 4;
    grid-template-columns: repeat(2, 1fr);

    i {
      justify-self: center;
      margin: 0.5rem;
      font-size: 1.1rem;
      cursor: pointer;
    }
  }

  &__date_list {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    grid-column-start: 5;
  }

  &__size_list {
    justify-self: center;
    grid-column-start: 6;
  }

  &_table {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 200px;
    height: 200px;

    &:hover {
      .fa-trash-alt {
        opacity: 0.5;
      }
    }
  }

  &__image_table {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      display: block;
      font-size: 9rem;
    }
  }

  &__block_table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;

    .fa-trash-alt {
      margin: 0.5rem;
      font-size: 1.5rem;
      opacity: 0;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__name_table {
    overflow: hidden;
    font-size: 1.2rem;
    text-align: center;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 1024px) {
  .file {
    &__date_list {
      font-size: 0.9rem;
    }

    &__size_list {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .file {
    &_list {
      grid-template-columns: 1fr 2fr repeat(3, 1fr);
    }

    &__icons_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column-start: 3;
    }

    &__date_list {
      grid-column-start: 4;
    }

    &__size_list {
      grid-column-start: 5;
    }
  }
}

@media screen and (max-width: 425px) {
  .file {
    &_list {
      grid-template-columns: 2fr repeat(3, 1fr);
      height: 70px;
    }

    &__image_list {
      display: none;
    }

    &__name_list {
      justify-self: center;
      grid-column-start: 1;
    }

    &__icons_list {
      grid-column-start: 2;
    }

    &__date_list {
      grid-column-start: 3;
    }

    &__size_list {
      grid-column-start: 4;
    }
  }
}
