@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.file {
  &_list {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    border-bottom: 1px solid #696969;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__image_list {
    justify-self: center;
    font-size: 3rem;

    i {
      margin: 1rem;
    }
  }

  &__name_list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__icons_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 4;

    i {
      justify-self: center;
      cursor: pointer;
      font-size: 1.1rem;
    }
  }

  &__date_list {
    justify-self: center;
    grid-column-start: 5;
  }

  &__size_list {
    justify-self: center;
    grid-column-start: 6;
  }

  &_table {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 200px;
    height: 200px;

    &:hover {
      .fa-trash-alt {
        opacity: 0.5;
      }
    }
  }

  &__image_table {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      display: block;
      font-size: 9rem;
    }
  }

  &__block_table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;

    .fa-trash-alt {
      margin: 0.5rem;
      font-size: 1.5rem;
      opacity: 0;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__name_table {
    overflow: hidden;
    font-size: 1.2rem;
    text-align: center;
    text-overflow: ellipsis;
  }

  &-enter-active {
    animation: file-enter 500ms forwards;
  }
}
