.alert {
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 100;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 1rem;
  background-color: #fff;

  &__message {
    margin-right: 1rem;
  }

  &__icon {
    cursor: pointer;
  }
}
