.search {
  display: flex;

  &__block {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 0.5rem;

    i {
      cursor: pointer;
      position: absolute;
      top: 7px;
      right: 11px;
    }
  }

  &__input {
    padding: 5px;
  }

  &__button {
    padding: 5px;
  }
}
