.search {
  display: flex;

  &__block {
    position: relative;
    display: flex;
    align-items: center;

    i {
      position: absolute;
      right: 11px;
      top: 7px;
      cursor: pointer;
    }
  }

  &__input {
    padding: 5px;
    text-align: left;
  }

  &__button {
    padding: 5px;
  }
}
