.search {
  &__block {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    padding: 5px;
    text-align: left;
  }

  &__icon {
    position: absolute;
    right: 11px;
    top: 7px;
    cursor: pointer;
  }

  &__button {
    padding: 5px;
  }
}
