.storage {
  height: 100%;

  &__container {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
  }

  &_list {
    flex-wrap: wrap;
  }

  &_table {
    display: flex;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
  }

  &__name {
    grid-column-start: 2;
  }

  &__date {
    justify-self: center;
    grid-column-start: 5;
  }

  &__size {
    justify-self: center;
    grid-column-start: 6;
  }

  &__empty {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
}
