.storage {
  display: flex;
  height: 100%;

  &_list {
    flex-direction: column;
  }

  &__header_list {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
  }

  &__name_list {
    grid-column-start: 2;
  }

  &__date_list {
    justify-self: center;
    grid-column-start: 5;
  }

  &__size_list {
    justify-self: center;
    grid-column-start: 6;
  }

  &__container_list {
    height: 100%;
  }

  &__empty_list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
  }

  &_table {
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &__container_table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &__empty_table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
  }
}
